---
# This playbook sets up most of what you would want in a nodejs dev machine

- name: Add nodejs ppa
  apt_repository: >
    repo='ppa:chris-lea/node.js'
    state=present
    update_cache=yes

- name: Install nodejs and npm
  apt: >
    name=nodejs
    state=present

